.Pin {
  margin: 1rem;
  .Image {
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .Author {
    background-color: $author_div_color;
    font-size: large;
    border-radius: 15px;
    text-align: center;
    h5 {
      padding: 1rem;
    }
  }
}
